<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />        
    </startup>
  
    <system.data>
      <DbProviderFactories>
        <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      </DbProviderFactories>
    </system.data>
  
    <connectionStrings>
        <clear />        
        <add name="SigCom_1._0.Properties.Settings.sigcomConnectionString"
            connectionString="Host=localhost;Database=sigcom;Username=postgres;Password=raphael"
            providerName="Npgsql" />
    </connectionStrings>  

</configuration>